
<div class="container hero-unit">
   <h1>Add a New Spot</h1>
    <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
        <h2>Errors</h2>
          <ul>
            <%= @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>  
          </ul> 
       <% end %> 
       <p>
         <%= f.label :location, "City" %>
         <br>
         <%= f.text_field :location %>
       </p> 
       <p>
         <%= f.label :title, "Spot Name" %>
         <br>
         <%= f.text_field :title %>
       </p>
       <p>
         <%= f.label :content, "Description" %>
         <br>
         <%= f.text_area :content %>
       </p>
       <p><%= f.submit "Add new Spot" %></p>
    <% end %>
</div>